body{
    background-image:url("../images/hotel.jpg");
    width:100%;
    color: wheat;
    font-weight: bolder;
}

#col{
    background-color: #999999;
    opacity: 0.5;
}
h1{
    text-align: center;
    color: wheat;
    font-family:'Source Sans Pro';
}

.form-group{
    /* opacity: 0; */
     color:wheat;
    font-weight: bolder;
} 

.hotel{
    display: flex;
    background-color: rgba(153, 153, 153, 0.5);
    /* opacity: 0.5; */
}

.form,.confirm{
    width:50%;
}

#images{
    display: inline-flex;
    width: 20%;
    height: 150px;
    margin-top:30%;
    margin-right:auto;
   
    /* padding-right:10%; */

} 
