/* styling the body */

body{
    background-image:url("../images/hotel.jpg");
    width:100%;
    color: wheat;
    font-weight: bolder;
    font-family: "Source Sans Pro";
}
/* styling the col id  */
#col{
    background-color: #999999;
    opacity: 0.5;
}
/* styling the text with a  h1 */
h1{
    text-align: center;
    color: wheat;
    font-family:'Source Sans Pro';
}

.form-group{
    /* opacity: 0; */
     color:wheat;
    font-weight: bolder;
} 

.hotel{
    display: flex;
    background-color: rgba(153, 153, 153, 0.5);
    /* opacity: 0.5; */
}

.form,.return{
    width:50%;
}
.confirmed{
    color: wheat;

}
#images{
    display: inline-flex;
    width: 20%;
    height: 150px;
    margin-top:30%;
    margin-right:auto;
   
    /* padding-right:10%; */

}
.duplicate{
    color: aliceblue;

} 
